<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">{{title}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="['/home']">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="['/detail']" [queryParams]="{id:1}">Detail</a>
        </li>
        <li *ngIf="isAdmin" class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link"  [routerLink]="['/create']">Create Product</a>
        </li>
        <li *ngIf="isAdmin" class="nav-item" [routerLinkActive]="['active']">
          <a  class="nav-link" [routerLink]="['/productList']">Product List</a>
        </li>
        
        
      </ul>
      <form class="form-inline mt-2 mt-md-0">
        <div class="form-check" style="color: #fff;">
          <input type="checkbox" name="adminCheckbox" [checked]= "isAdmin" (ngModelChange)="userChange($event)"  [(ngModel)]="isAdmin" class="form-check-input" id="asAdmin">
          <label class="form-check-label" for="asAdmin"><small><i>Want to loggedin as Admin</i></small>&nbsp;&nbsp;</label>
        </div>
        <input class="form-control mr-sm-2" (keydown.enter)="performSearch($event)" [ngModel]="searchInput" name="searchFilter"  type="text" placeholder="Search" aria-label="Search">
      </form>
    </div>
  </nav>
</header>
<main role="main" class="container">
  <div class="row">
    <router-outlet></router-outlet>
  </div> 
</main>